.imgItem {
    height: 100px;
    width: 100px;
}

form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 20px;

    .contenedor {
        vertical-align: middle;
    }

}

.botoneraPaginacion {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    width: 90%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.thead-dark {
    background-color: black;
    color: white;
    height: 40px;
    vertical-align: middle;
}

tbody {
    vertical-align: middle;
}

button {
    margin: 10px;
    padding: 5px;
}

#buttonCreateContainer {
    padding: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.no {
    color: red;
    font-size: 25px;
}

.carrito {
    display: flex;
    flex-direction: row;

}

.botones {
    display: flex;
    flex-direction: column;
    margin-left: -60px;
}
.boton2{
    margin-left: 80%;
    display: inline-block;
    width: 15%;
    background-color: rgb(237, 202, 27);
    border: 0px solid;
    border-radius: 8px;
    height: 40px;
    font-size: 20px;
}
.titulo{
    display: inline-block;
}
.precio {
    border: 1px solid black;
    padding:5px;
    margin-left: 85%;
    margin-right: 5%;
}
.not-item{
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
    width: 20%;
    font-size: 40px;
}
input:invalid {
    border-bottom: 2px solid red;
}
.icon{
    font-size:20px;
    color: #000000;
}
td{
    padding: 20px;
}
th{
    padding: 20px;
}