<h1 class="titulo">Lista de articulos del pedido {{orderId}}</h1>


  <table *ngIf="orderList.length > 0" class="table">
    <thead class="thead-dark">
      <th>Id</th>
    <th>Imagen</th>
    <th>Articulo</th>
    <th>Categoria</th>
    <th>Precio</th>
    <th>Unidades</th>
    <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderList">
        <td>{{item.id}}</td>
      <td>
        <img class="imgItem" [src]="'data:image/jpeg;base64,'+item.image" />
      </td>
      <td>{{item.name}}</td>
      <td>{{item.categoryName}}</td>
      <td>{{item.price}}</td>
      <td>{{item.units}}</td>
        <td class="botones">
          <button class="btn btn-danger" id="boton" (click)="asignarItemId(item.shoppingCartId)" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete">Devolver articulo</button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmacion devolucion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que desea devolver el producto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="removeItem()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
